@tailwind base;
@tailwind components;

form {
    margin: 0;
}

.message {
    border-width: 1px;
    border-style: solid;
    margin: 0;
}
.message.error {
    background-color: theme('colors.error-background');
    border-color: theme('colors.error-text');
    color: theme('colors.error-text');
}
.message.success {
    background-color: theme('colors.success-background');
    border-color: theme('colors.success-text');
    color: theme('colors.success-text');
}
button {
    color: theme('colors.button-text');
    margin: 0.2rem 0;
    cursor: pointer;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    display: inline-block;
    background-color: theme('colors.button-background');
    transition: background-color 0.2s;
}
button:hover {
    background-color: theme('colors.button-background-hover');
}

@tailwind utilities;