{% extends 'includes/base.html' %}

{% block title %}
  Album Details
{% endblock %}

{% block content %}
  <div class="flex-row">
    <h1>{{ album.name }}</h1>
    <form id="uploadImagesForm" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="file" name="images" multiple />
      <button type="submit">Upload Images</button>
    </form>
  </div>

  <div class="photos-grid">
    {% for image in images_list.all %}
      {% include 'includes/image_preview.html' with image=image album=album user=user_id %}
    {% endfor %}
  </div>

  <script>
    document.getElementById('uploadImagesForm').addEventListener('submit', function (e) {
      e.preventDefault() // Prevent the default form submission
      const formData = new FormData(this)
      const csrfToken = formData.get('csrfmiddlewaretoken') // Get the CSRF token from the form
      fetch(`{% url 'upload_image' album_id=album.id %}`, {
        // Use the Django URL template tag to generate the URL
        method: 'POST',
        body: formData,
        headers: {
          'X-CSRFToken': csrfToken
        },
        credentials: 'same-origin' // Necessary for including CSRF token
      })
        .then((response) => {
          if (response.ok) {
            return response.json() // Or handle the response in a way that suits your app
          }
          throw new Error('Network response was not ok.')
        })
        .then((data) => {
          console.log(data) // Handle success
          window.location.reload() // Reload the page after the upload is complete
        })
        .catch((error) => {
          console.error('There has been a problem with your fetch operation:', error)
        })
    })
  </script>
  {% comment %} <script>
    $(document).ready(function () {
      let default_color = $('.preview-image-toolbar').css('background-color')
      $('.preview-image-container').hover(
        function () {
          $(this).find('.preview-image-toolbar').css('opacity', '1')
        },
        function () {
          $(this).find('.preview-image-toolbar').css('opacity', '0')
        }
      )
    })
  </script> {% endcomment %}
  <script>
    function delete_image(id) {
      // TODO: Use the Django URL template tag to generate the URL
      let url = `{{ request.scheme }}://{{ request.get_host }}/albums/{{ album.id }}/images/${id}/delete`
      $.ajax({
        url,
        type: 'POST',
        data: {
          image_id: id,
          csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function () {
          window.location.reload() // Reload the page on success
        },
        error: function (data) {
          console.error('There has been a problem with your fetch operation:', data)
        }
      })
    }
  </script>
{% endblock %}
