:root {
    --text-color: #0b0b0b;
    --background-color: #ffffff;
    --banner-color: #f0f0f0;
    --banner-color-darker: #d0d0d0;
    --banner-border-color: #d0d0d0;
    --banner-border-color-darker: #b0b0b0;
    --secondary-color: #7c7c7c;
    --accent-color: #ffc107;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
}

.banner {
    background-color: var(--banner-color);
    padding: 1em;
    border-bottom: 1px solid var(--banner-border-color);
}

.banner h1{
    margin: 0;
    color: var(--text-color);
    font-size: 1.5em;
    font-weight: 500;
}

.banner p {
    margin: 0;
}

.center-panel {
    margin: 1em auto;
    max-width: 800px;
    padding: 1em;
    border: 1px solid var(--banner-border-color);
    border-radius: 5px;
    background-color: var(--background-color);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.content {
    padding: 1em;
}

.login-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 1em;
    border: 1px solid var(--banner-border-color);
    border-radius: 5px;
    background-color: var(--background-color);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.login-form form {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login-form label {
    display: block;
    margin: 0.2em 0;
}
.login-form input {
    width: 100%;
    padding: 0.5em;
    margin: 0.5em 0;
    border: 1px solid var(--banner-border-color);
    border-radius: 5px;
}
.login-form p {
    margin: 0.5em 0;
}

button {
    padding: 0.5em 1em;
    height: 2.5em;
    margin: 1.0em auto 1.0em;
    border: 1px solid var(--banner-border-color);
    border-radius: 5px;
    background-color: var(--banner-color);
    color: var(--text-color);
    font-size: 1em;
    cursor: pointer;
}
button:hover {
    background-color: var(--banner-color-darker);
    border-color: var(--banner-border-color-darker);
    transition: background-color 0.2s;
}

.flex-row {
    display: inline-flex;
    flex-direction: row;
    gap: 1em;
}

h2 {
    font-size: 1.7em;
    font-weight: 500;
    margin: 0em 0;
}