{% load static %}
<div class="w-full m-0 bg-banner-background text-banner-text">
  <div class="flex flex-row justify-between items-center p-2">
    <div class="flex flex-row gap-3 items-baseline">
      <h1 class="text-xl ms-3">CMS Media Viewer</h1>
      <a href="{% url 'index' %}" class="hover:underline">Home</a>
    </div>
    <div class="flex flex-row gap-3 items-center">
      <h2>{{ user.username }}</h2>
      <form action="{% url 'profile' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="button px-3 py-2"><img src={% static 'svg/menu.svg'%}></img></button>
      </form>
    </div>
  </div>
  <div class="banner-messages">
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li class="message {{ message.tags }} ps-2">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>
