<html>
  <head>
    <meta charset="utf-8"/>
    <title>
      {% block title %}
        CMS Media Viewer
      {% endblock %}
    </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>
    <div class="container">
      {% include 'includes/banner.html' with banner_description=title %}
      <div class="p-2">
        {% block content %}

        {% endblock %}
      </div>
    </div>
  </body>
</html>
